; $Id: uc_auction_api.info.example,v 1.1.2.8 2009/03/20 17:00:16 garrettalbright Exp $

; This info file has an extension of .info.example so that Drupal won't show
; this module on the module list and allow users to enable it unwittingly. If
; you wish to actually enable this module, simply remove the .example from the
; filename of this file.

name = Auction API
description = Examples of Ubercart Auction's API functions.
dependencies[] = uc_auction
core = 6.x
package = "Ubercart - extra"